---
layout: default
permalink: /menu/
title: Menu
---
{% assign types = site.data.amthuc_viet_menu | map: 'category' | join: ','  | split: ',' | uniq  %}
{% assign temp = site.data.amthuc_viet_menu | group_by: 'category' %}
<section>
    <h2 style="padding-bottom: 20px">The Menu</h2>
    <div><b>Payments by card or cash.</b></div>

    <div style="padding-bottom: 20px;"><b>To place an order please call us on&nbsp;<a href="tel:+447900307025">07900307025</a></b></div>

    <div class="article-post">
        <div class="btn-group btn-group-sm" role="group">
            {% for type in temp %}
            {% capture titlecase %}{% for word in type.name %}{{ word | capitalize }} {% endfor %}{% endcapture %}
                <a href="#{{ type.name }}" class="btn btn-secondary">{{ titlecase }}</a>
            {% endfor %}
        </div>
        <section class="recent-posts">
            {% assign menu_items = site.data.amthuc_viet_menu %}
                {% for category in temp %}
                    {% capture title_menu %}{% for word in category.name %}{{ word | capitalize }} {% endfor %}{% endcapture %}
                    <h3 style="margin-top: 25px"><a id="{{category.name}}"></a>{{title_menu}}</h3>
                    {% for item in category.items %}
                        <div class="row" style="border-top: 1px solid #e8ebeb; padding: 10px;">
                            <div class="col-7 font-weight-bold">
                                <div class="font-weight-bold">{{ item.title | upcase }}<span style="color: red; padding-left: 10px">{{ item.dietary }}</span></div>
                                <div style="font-size: 14px; padding-top: 5px">{{ item.description }}</div>
                                <div style="padding-top: 5px">£{{ item.price }}</div>
                            </div>

                            <div class="ml-auto pics">
                                <img src="/assets/images/{{ item.title | slugify }}.jpg" class="img-fluid" style="border-radius: 3px; height: 125px;">
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </section>
    </div>
    <div style="border-top: groove; padding-top: 15px"><span style="color: red;">V</span> - Vegan</div>
</section>


