---
layout: default
permalink: /menu/
title: Menu
---
{% assign types = site.data.amthuc_viet_menu | map: 'category' | join: ','  | split: ',' | uniq  %}
{% assign temp = site.data.amthuc_viet_menu | group_by: 'category' %}
<section>
    <h2 style="padding-bottom: 20px">The Menu</h2>
    <div>All our meat and chicken is supplied by a local farm.</div>
    <div>For <b>Saturday</b> orders, if you place your order before 2 pm, you will receive a <b>5% discount</b> on your bill.</div>

    <div style="padding-bottom: 20px;"><b>To place an order:</b><br/>
        <b>Please call us on&nbsp;<a href="tel:+447900307025">07900307025</a></b><br/>
        <b>or Use <a href="https://wa.me/c/447900307025">WhatsApp</a> to send us your order</b><br/>
        <b>First time ordering from us?</b> We’re based in the lovely small town of Wadhurst, and we know it can be a bit tricky to find us the first time. Please visit our <a href="/contact">Find Us</a> page for detailed directions and tips.
    </div>

    <div><b>We only accept payments by card.</b></div>
    <p></p>


    <div class="article-post">
        <div class="btn-group btn-group-sm" role="group">
            {% for type in temp %}
            {% capture titlecase %}{% for word in type.name %}{{ word | capitalize }} {% endfor %}{% endcapture %}
                <a href="#{{ type.name }}" class="btn btn-secondary">{{ titlecase }}</a>
            {% endfor %}
        </div>
        <section class="recent-posts">
            {% assign menu_items = site.data.amthuc_viet_menu %}
                {% for category in temp %}
                    {% capture title_menu %}{% for word in category.name %}{{ word | capitalize }} {% endfor %}{% endcapture %}
                    <h3 style="margin-top: 25px"><a id="{{category.name}}"></a>{{title_menu}}</h3>
                    {% for item in category.items %}
                        <div class="row" style="border-top: 1px solid #e8ebeb; padding: 10px;">
                            <div class="col-7 font-weight-bold">
                                <div class="font-weight-bold">{{ item.title | upcase }}  - <span style="font-size: 85%">{{ item.vietnamese }}</span><span style="color: red; padding-left: 10px">{{ item.dietary }}</span></div>
                                <div style="font-size: 14px; padding-top: 5px">{{ item.description }}</div>
                                <div style="padding-top: 5px">£{{ item.price }}</div>
                            </div>

                            <div class="ml-auto pics">
                                <a href="#" class="pop">
                                    <img src="/assets/images/{{ item.title | slugify }}.jpg" class="img-fluid" style="border-radius: 3px; height: 125px;" alt="{{ item.title }}">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
        </section>
        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    </div>
                    <div class="modal-body">
                        <div id="imgtitle"></div>
                        <img src="" id="imagepreview" style="max-height: 75vh;" >
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="border-top: groove; padding-top: 15px"><span style="color: red;">V</span> - Vegan</div>

</section>


