---
layout: default
permalink: "/menu.html"
---
<section>
    <div class="section-title">
        <h2><span><a href="{{ site.baseurl }}/menu">Menu</a></span></h2>
    </div>

    <div class="article-post">
        <section class="recent-posts">
            <div class="section-title">
                <h2><span>{{ page.title }}</span></h2>
            </div>
            {% assign menu_items = site.data.amthuc_viet_menu  | where: "category", page.menu_type %}
            {% assign category_name = page.url | remove:'/' | capitalize %}
            <div class="container">
                {% for item in menu_items %}
                <div class="d-flex" style="border-top: 1px solid #e8ebeb; padding: 10px;">
                    <div class="p-8 font-weight-bold">
                        <div class="font-weight-bold">{{ item.title }}</div>
                        <div style="font-size: 14px; padding-top: 5px">{{ item.description }}</div>
                        <div style="padding-top: 5px">£{{ item.price }}</div>
                    </div>

                    <div class="ml-auto pl-4 pics">
                        <img src="/assets/images/{{ item.title | slugify }}.jpg" class="img-fluid" style="border-radius: 3px; height: 125px;">
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</section>